@import "~normalize.css";

@import "_variables";

*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

body {
	background-color: var(--sky);
	transition: 1s;
}

.main {
	height: 100vh;
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.sun {
	width: 250px;
	height: 250px;
	background-image: var(--sun);
  background-size: 250px 250px;
	background-color: inherit;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: none;
	outline: none;
	transform: 1s;
	&:hover {
		cursor: pointer;
	}
	&__text {
		font-size: 2em;
		font-family: "Lucida Sans", "Lucida Sans Regular", Geneva, Verdana,
			sans-serif;
		color: var(--text-color);
	}
	&__dark {
    display: none;
	}
}
